.thumbnail-image{
    height:14rem;
}

.filter-btn{
    display:none;
}

.filter-accordion{
    display:block;
}

.product-not-found{
    min-height:70vh;
}

.filter-box{
    top:5rem;
    z-index:99;
}

@media (max-width:768px){
    .filter-btn{
        display:block;
    }

    .filter-accordion{
        display:none;
    }
}