<div class="container-fluid bg-light">
    <div class="row pt-3 mb-5">
        <div class="col-12">
            <div class="row pt-3 no-gutters">
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="row">
                        <div>
                            <button class="btn btn-primary filter-btn" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Filters <i
                                    class="fa fa-solid fa-filter"></i></button>
                        </div>
                        <div class="accordion filter-accordion" id="accordionPanelsStayOpenExample">
                            <div class="d-flex justify-content-between">
                                <p class="fs-5 fw-light mb-0">Filters</p>
                                <button (click)="resetFilter()" class="btn btn-sm mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32" id="icon" viewBox="0 0 32 32" width="32"><defs><style>
                                        .cls-1 {
                                          fill: none;
                                        }
                                      </style></defs><path d="M22.5,9A7.4522,7.4522,0,0,0,16,12.792V8H14v8h8V14H17.6167A5.4941,5.4941,0,1,1,22.5,22H22v2h.5a7.5,7.5,0,0,0,0-15Z"/><path d="M26,6H4V9.171l7.4142,7.4143L12,17.171V26h4V24h2v2a2,2,0,0,1-2,2H12a2,2,0,0,1-2-2V18L2.5858,10.5853A2,2,0,0,1,2,9.171V6A2,2,0,0,1,4,4H26Z"/><rect class="cls-1" data-name="&lt;Transparent Rectangle&gt;" height="32" id="_Transparent_Rectangle_" width="32"/></svg>
                                </button>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button shadow-none bg-white text-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        Price
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                                <label for="minPrice" class="form-label">Min</label>
                                                <input type="text" class="form-control" placeholder="min"
                                                    (keyup)="handleMinPrice($event)" value="{{priceFilter['min']}}" id="minPrice">
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-1 mt-lg-0">
                                                <label for="maxPrice" class="form-label">Max</label>
                                                <input type="text" class="form-control" placeholder="max"
                                                    (keyup)="handleMaxPrice($event)" value="{{priceFilter['max']}}" id="maxPrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed shadow-none bg-white text-dark"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Rating
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" value="1"
                                                (change)="addRatingFilter($event)" [checked]="ratingFilter===1">
                                            <label class="form-check-label">1 <i
                                                    class="fa fa-solid fa-star text-warning"></i> & above</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" value="2"
                                                (change)="addRatingFilter($event)" [checked]="ratingFilter===2">
                                            <label class="form-check-label">2 <i
                                                    class="fa fa-solid fa-star text-warning"></i> & above</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" value="3"
                                                (change)="addRatingFilter($event)" [checked]="ratingFilter===3">
                                            <label class="form-check-label">3 <i
                                                    class="fa fa-solid fa-star text-warning"></i> & above</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" value="4"
                                                (change)="addRatingFilter($event)" [checked]="ratingFilter===4">
                                            <label class="form-check-label">4 <i
                                                    class="fa fa-solid fa-star text-warning"></i> & above</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed shadow-none bg-white text-dark"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                        Brands
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body" *ngFor="let item of brands">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="brand"
                                                value="{{item}}" (change)="addBrandFilter($event)"
                                                [checked]="brandFilters.indexOf(item.toLowerCase())>-1">
                                            <label class="form-check-label">{{item | titlecase}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 col-lg-10 mt-3 mt-md-0">
                    <div class="row">
                        <div>
                            <div
                                class="d-flex align-items-center justify-content-start justify-content-sm-end me-3 mb-3">
                                <span class="fs-6 me-2">Sort By:</span>
                                <div>
                                    <select name="sort" class="form-select shadow-none" (change)="handleSort($event)">
                                        <option value="rel" selected>Relevance</option>
                                        <option value="phtl">Price : high to low</option>
                                        <option value="plth">Price : low to high</option>
                                        <option value="rhtl">Rating : high to low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3"
                            *ngFor="let item of (search ? searchProducts:products)"
                            [ngClass]="{'d-none': !isValidBrand(item.brand) || item.rating<ratingFilter || item.price<priceFilter.min || item.price>priceFilter.max}">
                            <app-product-card [product]="item" [cart]="cartItems" (removeItem)="removeItem($event)"></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <div class="row">
                <legend>Price:</legend>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="min" (keyup)="handleMinPrice($event)"
                        value="{{priceFilter.min}}">
                </div>
                <div class="col-2">
                    <p class="text-center">to</p>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="max" (keyup)="handleMaxPrice($event)"
                        value="{{priceFilter.max}}">
                </div>
                <div class="col-12 mt-3">
                    <form>
                        <legend>Rating:</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rating" value="1"
                                (change)="addRatingFilter($event)" [checked]="ratingFilter===1">
                            <label class="form-check-label">1 <i class="fa fa-solid fa-star text-warning"></i> &
                                above</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rating" value="2"
                                (change)="addRatingFilter($event)" [checked]="ratingFilter===2">
                            <label class="form-check-label">2 <i class="fa fa-solid fa-star text-warning"></i> &
                                above</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rating" value="3"
                                (change)="addRatingFilter($event)" [checked]="ratingFilter===3">
                            <label class="form-check-label">3 <i class="fa fa-solid fa-star text-warning"></i> &
                                above</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rating" value="4"
                                (change)="addRatingFilter($event)" [checked]="ratingFilter===4">
                            <label class="form-check-label">4 <i class="fa fa-solid fa-star text-warning"></i> &
                                above</label>
                        </div>
                    </form>
                </div>
                <div class="col-12 mt-3">
                    <legend>Brand:</legend>
                    <div *ngFor="let item of brands">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="brand" value="{{item}}"
                                (change)="addBrandFilter($event)">
                            <label class="form-check-label">{{item | titlecase}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div #successToast class="toast success-toast bg-success text-white position-absolute" role="alert"
    aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
    <div class="toast-body d-flex justify-content-between">
        <p class="fs-6 mb-0">{{success_message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<div #errorToast class="toast error-toast bg-danger text-white position-absolute " role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-autohide="false">
    <div class="toast-body d-flex justify-content-between">
        <p class="fs-6 mb-0">{{error_message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<div #removeModal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-solid fa-warning text-warning"></i> Remove item</h5>
        </div>
        <div class="modal-body">
          Are you sure! you want to remove <span class="fw-bold">{{to_delete_title}}</span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button #removeBtn type="button" class="btn btn-danger" (click)="deleteItem()" data-bs-toggle="modal" data-bs-target="#exampleModal">Remove</button>
        </div>
      </div>
    </div>
  </div>