<nav class="navbar navbar-expand-md navbar-light sticky-top shadow-sm bg-light">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a routerLink="products" class="navbar-brand">
                <img src="../../assets/images/increff-logo-1.png" class="img-fluid">
            </a>
            <div class="d-flex align-items-center">
                <form>
                    <div class="input-group input-box">
                        <input type="text" placeholder="Search Products..."
                        class="form-control form-control-sm p-2 shadow-none fs-6 fw-light border-right-none">
                        <button class="btn btn-sm btn-primary px-3"><i class="fa fa-solid fa-search"></i></button>
                    </div>
                </form>
                <div class="ms-5 d-flex align-items-center">
                    <div>
                        <a routerLink="orderUpload" class="text-dark">
                            <i class="fs-3 fa-solid fa-file-arrow-up"></i>
                        </a>
                    </div>
                    <div class="position-relative ms-4">
                        <a routerLink="cart" class="text-dark">
                            <i class="fs-3 fa fa-duotone fa-cart-shopping"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger p-1">10</span>
                        </a>
                    </div>
                    <div class="ms-5">
                        <a class="btn btn-primary fs-6 fw-light" routerLink="login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>