<nav class="navbar navbar-expand-md navbar-light sticky-top shadow-sm bg-light">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-12 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a routerLink="products" class="navbar-brand">
                    <img src="../../assets/images/increff-logo-1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-12 col-xs-8 offset-xs-1 col-sm-9 col-md-6 offset-md-3 col-lg-5 offset-lg-4 my-auto">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 mt-2 mt-sm-0">
                        <form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm.value)">
                            <div class="input-group input-box">
                                <input type="text" placeholder="Search Products..."
                                class="form-control form-control-sm p-2 shadow-none fs-6 fw-light border-right-none" name="search" ngModel>
                                <button class="btn btn-sm btn-primary px-3" type="submit"><i class="fa fa-solid fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 my-auto mt-2 mt-sm-0 mt-md-0 justify-content-between justify-content-sm-end px-0">
                        <div class="align-items-center d-flex justify-content-around justify-content-md-evenly">
                            <div class="ms-1 ms-md-2 ms-lg-2">
                                <a routerLink="orderUpload" class="text-dark">
                                    <i class="fs-3 fa-solid fa-file-arrow-up"></i>
                                </a>
                            </div>
                            <div class="position-relative ms-sm-2 ms-md-4 ms-lg-4">
                                <a routerLink="cart" class="text-dark">
                                    <i class="fs-3 fa fa-duotone fa-cart-shopping"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger p-1 cart-item-count">{{totalItems}}</span>
                                </a>
                            </div>
                            <div class="ms-sm-3 ms-md-4 ms-lg-4">
                                <a class="btn btn-primary fs-6 fw-light" routerLink="login" *ngIf="username.length === 0">Login</a>
                                <div>
                                    <div class="dropdown" *ngIf="username.length > 0">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          {{username}}
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                          <li><button class="dropdown-item" (click)="handleLogout()">Logout</button></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>