<div class="card mb-3 shadow-sm">
    <div class="position-relative thumbnail-image">
        <a routerLink='/product/{{product.sku_id}}'>
            <img src={{product.thumbnail}}
            class="card-img-top p-2 img-fluid thumbnail-image" alt="...">
            <span class="position-absolute start-0 bottom-0 bg-secondary rounded-end text-white p-1">{{product.rating}}<i class="fa fa-solid fa-star ps-1 text-warning"></i></span>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title fs-4 fw-light mb-0 text-muted text-wrapper">{{product.title}}</h5>
        <p class="text-muted mb-1 text-wrapper">{{product.brand}}</p>
        <p class="card-subtitle mb-2">{{product.price | currency:'INR'}}</p>
        <p class="card-text text-wrapper">{{product.description}}</p>
        <div class="row" [ngClass]="{'d-none':quantity<=0}">
            <div class="col-xs-6 col-sm-12 col-xl-6 pe-0">
                <div class="input-group">
                    <button class="btn btn-sm btn-warning" (click)="decreaseQuantity(product.sku_id)">-</button>
                    <input type="text" class="border-0 border-top border-bottom text-center" style="width:3em" (keyup)="updateQuantity(product.sku_id,$event)" value="{{quantity}}">
                    <button class="btn btn-sm btn-warning" (click)="increaseQuantity(product.sku_id)">+</button>
                </div>
            </div>
            <div class="col-xs-6 col-sm-12 col-xl-6 mt-1 mt-xl-0 text-xl-end">
                <a class="btn btn-sm btn-dark" routerLink="/cart" >GO TO CART</a>
            </div>
        </div>
        <button class="btn btn-sm btn-dark" (click)="addProduct(product.sku_id)" [ngClass]="{'d-none':quantity>0}">ADD TO CART</button>
    </div>
</div>
