<div class="container-fluid bg-main mb-5">
    <div class="row" *ngIf="cartItems.length>0">
        <p class="fs-3 pt-3">Cart</p>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card mb-3 border-0 shadow-sm" *ngFor="let item of cartItems">
                <div class="card-body row no-gutters py-2" *ngIf="item.quantity>0">
                    <div class="col-md-4 p-0 cart-item-image">
                        <a routerLink="/product/{{item.product.sku_id}}">
                            <img src="{{item.product.thumbnail}}"
                                class="h-100 w-100 rounded" alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body position-relative p-0">
                            <button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove from cart"
                                class="btn btn-outline-danger btn-sm border-0 end-0 position-absolute top-0"><i
                                    class="fa fa-solid fa-trash fs-6 mt-2"></i></button>
                            <p class="fs-4 mb-0 fw-bold">{{item.product.title | titlecase}}</p>
                            <p class="fs-5 text-muted mb-0">{{item.product.brand}}</p>
                            <p class="fs-5 fw-light mb-1">{{item.product.price | currency:'INR'}}</p>
                            <p class="product-description">{{item.product.description}}</p>
                            <div class="input-group w-auto">
                                <button class="btn btn-warning" (click)="decreaseQuantity(item.product.sku_id)">-</button>
                                <input type="text" class="quantity-input border-0 border-top border-bottom text-center"
                                    (keyup)="updateQuantity('{{item.product.sku_id}}',$event)" value="{{item.quantity}}">
                                <button class="btn btn-warning" (click)='increaseQuantity(item.product.sku_id)'>+</button>
                            </div>
                            <p class="fs-5 fw-normal text-muted mt-2">Subtotal: {{item.product.price * item.quantity | currency:'INR'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card border-0 shadow-sm w-75 mx-auto" id="bill-details">
                <div class="card-header">
                    <h4 class=" mb-1">Order Summary</h4>
                </div>
                <div class="mb-1 py-3 card-body" id="address-box">
                    <p class="mb-0"><strong>Address: </strong></p>
                    <address class="mb-1">1,2,3, Ashoka Indl Est, Village Valiv, nr Golani Complex, Vasai(e),
                        Mumbai, Maharashtra, 401506.</address>
                    <p class="mb-0">+91 9525024556</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p>Total MRP:</p>
                        </div>
                        <div class="col text-end">
                            <p class="mb-1 fw-bold">{{totalMrp | currency:'INR'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Delivery:</p>
                        </div>
                        <div class="col text-end">
                            <p class="mb-1 fw-bold">{{100 | currency:'INR'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-5">Total:</p>
                        </div>
                        <div class="col text-end">
                            <p class="mb-1 fs-5 fw-bold">{{totalMrp + 100 | currency:'INR'}}</p>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="checkout-btn">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0" id="empty-cart-box" *ngIf="cartItems.length<=0">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
            <div id="empty-cart-image" class="mx-3 mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg></div>
            <h4>Hey, it feels so light!</h4>
            <p>There is nothing in your cart. Let's add some items.</p>
            <a class="btn btn-primary mx-3" href="/html/products.html">Continue Shopping</a>
        </div>
    </div>
</div>