<div class="container-fluid">
    <div class="row pt-3 mb-5">
        <div class="col-12 col-md-2 col-lg-2 border-end">
            <p class="fs-5">Filters:</p>
            <select name="brand" class="form-select shadow-none mb-3">
                <option value="phtl">Price : high to low</option>
                <option value="plth">Price : low to high</option>
                <option value="rhtl">Rating : high to low</option>
            </select>
            <select name="price" class="form-select shadow-none mb-3">
                <option value="phtl">Price : high to low</option>
                <option value="plth">Price : low to high</option>
                <option value="rhtl">Rating : high to low</option>
            </select>
            <select name="rating" class="form-select shadow-none mb-3">
                <option value="phtl">Price : high to low</option>
                <option value="plth">Price : low to high</option>
                <option value="rhtl">Rating : high to low</option>
            </select>
        </div>
        <div class="col-12 col-md-10 col-lg-10">
            <div class="d-flex align-items-center justify-content-end me-3 mb-3">
                <span class="fs-6 me-2">Sort By:</span>
                <div>
                    <select name="sort" class="form-select shadow-none">
                        <option value="phtl">Price : high to low</option>
                        <option value="plth">Price : low to high</option>
                        <option value="rhtl">Rating : high to low</option>
                    </select>
                </div>
            </div>
            <div class="row pt-3 no-gutters">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3 shadow-sm">
                        <a routerLink="/product/10">
                            <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2 img-fluid" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom text-center" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3 shadow-sm">
                        <a routerLink="/product/10">
                            <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2 img-fluid" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <form>
                                    <div class="input-group w-auto">
                                        <button class="btn btn-sm btn-warning">-</button>
                                        <input type="text" class="form-control form-control-sm border-0 border-top border-bottom quantity-input">
                                        <button class="btn btn-sm btn-warning">+</button>
                                    </div>
                                </form>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3 shadow-sm">
                        <a routerLink="/product/10">
                            <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2 img-fluid" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3 shadow-sm">
                        <a routerLink="/product/10">
                            <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2 img-fluid" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3">
                        <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3">
                        <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3">
                        <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card mb-3">
                        <img src="https://i.gadgets360cdn.com/products/large/1536782676_635_iphone_xs_max.jpg"
                            class="card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fs-4 fw-light mb-1 text-muted">{{title}}</h5>
                            <p class="card-subtitle mb-2">{{price | currency:'INR'}}</p>
                            <p class="card-text">{{description | slice:0:60}}...</p>
                            <div class="d-flex justify-content-between d-none">
                                <div class="input-group w-auto">
                                    <button class="btn btn-sm btn-warning">-</button>
                                    <input type="text" class="border-0 border-top border-bottom" style="width:3em">
                                    <button class="btn btn-sm btn-warning">+</button>
                                </div>
                                <button class="btn btn-sm btn-dark">GO TO CART</button>
                            </div>
                            <button class="btn btn-sm btn-dark">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>