*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Roboto',sans-serif;
}

html{
    min-height:99vh;
    position:relative;
}

.quantity-input{
    width:3em;
}

.quantity-input:focus{
    border:none;
}